html {
    height:100%;
    width:100%;
}

body {
    height:100%;
    width:100%;
    margin: 0px;
    background-color: #FFFFFF;
    color:white;
    font-weight:bold;
    font-family:Arial;
    display:grid;
    grid: [row1-start] "grids grids" 100px [row1-end] 
          [row2-start] "preview parameters" 1fr [row2-end]
          [row3-start] "loops loops" 100px [row3-end] 
          / 1fr 300px;
    overflow:hidden;
}

#grids {
    grid-area:grids;
    background-color:black;
    color:white;
    border-bottom : 1px solid white;
}

#preview {
    grid-area:preview;
    border:1px solid white;
}

#parameters {
    grid-area:parameters;
    display:flex;
    flex-flow:column;
    justify-content:space-evenly;
    align-items: start;
    background-color:black;
}

.control {
    text-decoration:none;
    background-color:black;
    color:white;
    border:1px solid white;
}

.active {
    background-color:white;
    color:black;
}

#loops{
    grid-area:loops;
    background-color:black;
    border-top:1px solid white;
}

